#scene{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__wrapper{
    width: 100vmin;
    height: 100vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .layer{
    width: 100%;
    height: 100%;
    pointer-events: none;

    .container{
      position: absolute;
      pointer-events: all;
      cursor: pointer;

      &:hover .element{
        transform: rotateY(15deg) rotateX(-15deg) rotateZ(15deg);
      }

      .element,
      .video{
        pointer-events: all;
      }

      .element{
        transform: rotate(0);
        transition: transform 0.5s;

        .container

        img{
          width: 20vmin;
        }
      }
    }

    &:nth-child(1) .container{
      top: 25vmin;
      left: 25vmin;

      + .video{
        top: 35vmin;
        left: 25vmin;
      }
    }

    &:nth-child(2) .container{
      top: 55vmin;
      left: 55vmin;

      + .video{
        top: 65vmin;
        left: 55vmin;
      }
    }

    &:nth-child(3) .container{
      top: 15vmin;
      left: 80vmin;

      + .video{
        top: 25vmin;
        left: 80vmin;
      }
    }

    &:nth-child(4) .container{
      top: 80vmin;
      left: 25vmin;

      + .video{
        top: 90vmin;
        left: 25vmin;
      }
    }
  }
}
