@keyframes open{
  0%{
    width: 0;
    height: 0;
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100%{
    width: 53vmin;
    height: 30vmin;
  }
}


@keyframes close{
  0%{
    width: 53vmin;
    height: 30vmin;
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    width: 0;
    height: 0;
    opacity: 0;
  }
}