html{
  background: url('../img/westeros.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body{

  .title{
    font-size: 5rem;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', serif;
  }

  #scene{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .layer{
      width: 100%;
      height: 100%;
      pointer-events: none;

      .container{
        position: absolute;
        pointer-events: all;
        cursor: pointer;

        .element,
        .tvshow{
          pointer-events: all;
        }

        .element{
          img{
            width: 20vmin;
          }
        }
      }

      &:nth-child(1) .container{
        top: 25vmin;
        left: 45vmin;

        + .tvshow{
          top: 35vmin;
          left: 45vmin;
        }
      }

      &:nth-child(2) .container{
        top: 55vmin;
        left: 95vmin;

        + .tvshow{
          top: 65vmin;
          left: 95vmin;
        }
      }

      &:nth-child(3) .container{
        top: 15vmin;
        left: 200vmin;

        + .tvshow{
          top: 25vmin;
          left: 200vmin;
        }
      }

      &:nth-child(4) .container{
        top: 120vmin;
        left: 25vmin;

        + .tvshow{
          top: 130vmin;
          left: 25vmin;
        }
      }
    }
  }


  .tvshow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    animation: tvclose 1s forwards;
    width: 53vmin;
    height: 30vmin;
    z-index: 10;

    &.open{
      animation: tvopen 1s forwards;
      width: 0;
      height: 0;
    }

    .content{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 53vmin;
      height: 30vmin;
    }
  }
}
@keyframes tvopen{
  0%{
    width: 0;
    height: 0;
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100%{
    width: 53vmin;
    height: 30vmin;
  }
}
@keyframes tvclose{
  0%{
    width: 53vmin;
    height: 30vmin;
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    width: 0;
    height: 0;
    opacity: 0;
  }
}